#chat {
  padding: .5em;
  border: 1px solid #777;
  height: 300px;
  overflow-y: scroll;
}

.user-change, .user-exit, .user-enter {
  color: #aaa;
  font-size: .8em;
}

.username {
  font-weight: bold;
  color: #226;
}

.note {
  font-weight: bold;
  color: #FF9999;   
}

#entry {
  width: 155%;
}

.center {
  text-align :center;
  padding-top: 3px;
}

#play-nice {
  color: #AAA;
  padding-bottom: 2%;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}
.span6 {
    padding-right: 2%;
    text-align: right;
}
.span7 {
    padding-left: 2%;
    padding-bottom: 0%;
}

.span10 {
    display:inline-block;
    
}

.tabs {
  margin-left:1%;
}
.tabsinfo {
  margin-top:-4%;
  margin-left:1%;
}